@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  padding: 3rem;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: navajowhite;
  color: dimgray;
}

h1 { text-align: left; }

p {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: bold;
}

select {
  color: white;
  background-color: darkgoldenrod;
  width: 2rem;
}
span#operand {
  color: darkgoldenrod;
  width: 2rem;
  text-align: center;
}
span#mathtype {
  color: darkgoldenrod;
  width: 7rem;
  text-align: right;
}
span#equals {
  color: green;
  width: 4rem;
  text-align: left;
}

input {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #404343;
  background-color: #e5ebeb;
  color: #0a0b0b;
  border-radius: 0.25rem;
  width: 7rem;
}

input.right-aligned {
  text-align: right;
}